<launch>
  <node name="joy1" pkg="joy" type="joy_node" output="screen">
    <param name="dev" value="/dev/input/js1" />
  </node>

  <node name="teleop1" pkg="teleop_twist_joy" type="teleop_node">
    <remap from="/cmd_vel" to="/turtle1/cmd_vel" />
    <param name="~enable_turbo_button" value="1" />
  </node>

  <node name="turtle1" pkg="turtlesim" type="turtlesim_node" />
</launch>
